@model IEnumerable<Kpi.Hotels.Dataclient.Context.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index JQuery version</h1>

<p>
    <a href="#" onclick="redirectToCreate()">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(() => {
            console.log('document-ready');
            $.get({
                url: '../../api/clients/',
                success: (data) => {
                    $.each(data, (index, item) => {
                        $('#tableBody').append(`
                            <tr>
                                <td>${item.firstName}</td>
                                <td>${item.lastName}</td>
                                <td>${item.phoneNumber}</td>
                                <td>${item.address}</td>
                                <td>${item.nationality}</td>
                                <td>${item.email}</td>
                                <td>
                                    <a href="#" onclick="redirectToEdit('${item.id}')">Edit</a>|
                                    <a href="#" onclick="redirectToDetails('${item.id}')">Details</a>|
                                    <a href="#" onclick="redirectToDelete('${item.id}')">Delete</a>
                                </td>
                            </tr>`);
                    });
                    console.log(data);
                    $('#input-FirstName').val(data.firstName);
                    $('#input-LastName').val(data.lastName);
                    $('#input-PhoneNumber').val(data.phoneNumber);
                    $('#input-Address').val(data.address);
                    $('#input-Nationality').val(data.nationality);
                    $('#input-Email').val(data.email);
                }
            });
        });
        const redirectToList = () => window.location.replace("../../gui/clientsjquery");
        const redirectToEdit = (modelId) => window.location.replace(`../../gui/clientsjquery/edit?id=${modelId}`);
        const redirectToDetails = (modelId) => window.location.replace(`../../gui/clientsjquery/details?id=${modelId}`);
        const redirectToDelete = (modelId) => window.location.replace(`../../gui/clientsjquery/delete?id=${modelId}`);
        const redirectToCreate = () => window.location.replace(`../../gui/clientsjquery/create`);
    </script>
}
